<mat-toolbar class="mat-primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
      <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">My App</a>
    </span>
    <span class="example-spacer"></span>
    <ul>
      @if(!isAuthenticated()) {
        <li>
          <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li>
          <a mat-button routerLink="/signup" routerLinkActive="active">Signup</a>
        </li>
      }
      @if(isAuthenticated()) {

        <li>
          <a mat-button routerLink="/create" routerLinkActive="active">New Post</a>
        </li>
        <li>
          <button mat-button type="button" (click)="onLogout()">Logout</button>
        </li>
      }
      
    </ul>
</mat-toolbar>
  